{% extends 'base.html' %}
{% block content %}
    <div style="background-color:darkslateblue" class="jumbotron">
  <div class="container">
    <h1 style="color: black">Some info</h1>
      <h2>Jumbotron</h2>
      <p>I had the same idea but when I tried that and it didn't work. The Jumbotron's background colour takes precedence over the bootstrap background colours. –
Mark Davies
 Jul 11, 2018 at 9:18
1
Yes this works. I created a class of .bg-jcol and added it to .jumbotron. Sometimes, you have to hold shift when resetting your web page to override the cached page. You will find the instructions in Bootstrap under the 'navbar' component. </p>
  </div>
</div>
{% endblock %}

